* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FFFFFF;
    background-image:linear-gradient(top, #CCC 0%, #FFFFFF 51%);
    background-image:-webkit-linear-gradient(top, #CCC 0%, #FFFFFF 51%);
    background-image:-ms-linear-gradient(top, #CCC 0%, #FFFFFF 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #CCC),
        color-stop(0.51, #FFFFFF)
    );
    background-attachment:fixed;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}


h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

/* header */
.ui-header > .ui-btn {
    padding: 7px 10px 11px;
    background:none;
    border:none;
    /*overflow:;*/
}
.ui-header .ui-title{

margin: .8em 30% .8em;

}

/* home page */
.relativediv
{
  position: relative;
  width: 100%;
  display: inline-block;
}
#icon-user
{
    width: 26px;
    float: left;
    margin-top: 7px;
}
#icon-lock
{
    width: 26px;
    float: left;
        margin-top: 7px;
}
.relativediv2 > div.ui-slider-switch.ui-mini
{
    width: 50%;
    margin: 0.50em 25%;
}
#home-page
{
  background-image: url('../img/fondo.png');
  color: #fff;
}
#content-login
{
    background-color: #234096;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.69);
    border-radius: 15px;
}
div.ui-slider-switch.ui-mini {

    background-color: transparent;
    border: none;
}

#content-login > form > .relativediv > div 
{
    width: 82%;
    float: right;
    background-color: transparent;
    border-radius: 0px;
    border: 1px solid #fff;
}
#content-login > form > .relativediv > div >input
{
      color: #fff;
}
#content-login > form > .ui-btn
{
  width: 50%;
  margin: 0 auto;
  border-radius: 0px;
  background-color: #ec1c24;
  color: #fff;
  border-color: transparent;
}
#content-login > form > .ui-btn >.ui-btn-inner
{
  padding: .4em 20px;
}
    
#logo{
    width:70%;
    max-width:206px;
    margin:10px ;
}
.centerText{
    text-align:center;
}

#home-page a{
    margin-top: 20px;
    width: 100%;
    border-radius: 0px;
    background-color: #ec1c24;
    color: #fff;
    border-color: transparent;
}
.ui-slider-switch.ui-mini .ui-slider-handle
{
  margin-top: 1px !important;
  padding-top: 0px  !important;
  padding-bottom: 0px  !important;
  width: 25px !important;
  border-radius: 50% !important;
  background: #16a085 !important;
    border: 1px solid #16a085 !important;
}

.ui-grid-a .ui-block-a .ui-btn{
    margin-left: 0px;
}

.ui-grid-a .ui-block-b .ui-btn{
    margin-right: 0px;
}

/* map */
#second-page{

}
.big-text{
    font-size: 1.3em;
}
.small-text{
    font-size:0.8em;
}


.ui-btn-active {
    border: 1px solid       #1abc9c /*{global-active-border}*/;
    background:             #1abc9c /*{global-active-background-color}*/;
    font-weight: bold;
    color:                  #ffffff /*{global-active-color}*/;
    cursor: pointer;
    text-decoration: none;
  font-family: Lato, sans-serif
}


.ui-icon-ms-phone {
    background: url("../img/phone-icon.png") 50% 50% no-repeat;
}
.ui-icon-ms-question {
    background: url("../img/question-icon.png") 50% 50% no-repeat;
}
.ui-icon-ms-search {
    background: url("../img/search-icon.png") 50% 50% no-repeat;
}
/* TOGGLE SWITCH */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}






a {
    background: #ccc;
    cursor: pointer;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 5px 5px;
    }

a.down {
    background: #bbb;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
    }

textarea#comentario {
    width: 290%;
    margin-left: 5%;
    height: 72px;

}
.datos-cliente-orden .row{
  margin-bottom: 10px;
}
.margin-bottom{
  margin-bottom: 10px;
}
#divNombre{
  font-size: 25px;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
}
.ordenes-pendientes{
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  background: #fff;
  color: #224099;
  margin: 10px 0px;
}
.item-orden{
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #fefefe;
}
#listOrdenes{
  overflow: hidden;
}
#id_orden{
  color: #fff;
  font-size: 13px;
  font-weight: bolder;
  line-height: 10px;
 
}
#id_orden b{
  font-size: 20px;
}
#detalleItem{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.item-orden:hover{
  background: #fff;
  color: #224099;
}
.item-orden:hover #detalleItem,
.item-orden:active #detalleItem,
.item-orden:hover #id_orden,
.item-orden:active #id_orden{
  color: #224099;
}


.title-bar{
  color: #102e88;
  font-size: 18px;
  font-weight: bolder;
  background: #fff;
  padding: 6px;
  border-radius: 10px;
  font-style: italic;
  text-align: center;
  margin: 20px 0px;
}
.ico-detalle-envio{
  padding: 10px 24px;
  display: inline-block;
  background: url('../img/ico-detalle-envio.png') no-repeat;
  background-position: center;
      vertical-align: middle;
}
.ico-detalle-orden{
  padding: 14px 24px;
  display: inline-block;
  background: url('../img/ico-detalle-orden.png') no-repeat;
  background-position: center;
      vertical-align: middle;
}